.team {
  display: flex;
  padding: 0.2%;
  width: 100%;
  height: 70%;
}

.team > .material-icons {
  font-size: 1.3em;
  height: 1.3em;
  cursor: pointer;
}

.team > .container {
  display: flex;
  width: 100%;
}

.team > .container > p {
  margin: 0 2%;
  font-size: 1.3em;
}
