.team {
  padding: 0.5% 0;
  display: flex;
  background-color: white;
  width: 100%;
}

.team > .material-icons {
  font-size: 1.3em;
  cursor: pointer;
}

.team > .container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.team > .container > div {
  display: flex;
  width: 100%;
}

.team > .container > p {
  margin: 0 2%;
  font-size: 1.3em;
}
