.worker-cdjbh {
  align-items: center;
  background-color: white;
  border-bottom: solid 1px #00a085;
  display: flex;
  height: 20%;
  padding: 1%;
}

.worker-cdjbh > p:nth-child(1) {
  padding: 0.5%;
}

.worker-cdjbh > p:nth-child(2) {
  width: 100%;
  font-size: 1.1em;
  padding: 1.5% 2.5%;
  padding-left: 5%;
  margin: 0;
  vertical-align: middle;
}

.worker-cdjbh > img {
  width: 40px;
  border-radius: 20px;
  margin: 0 3%
}
