.combination {
  padding: 0.5em;
  display: flex;
  border-bottom: solid 1px #00a085;
}

.combination > .material-icons {
  font-size: 1.3em;
  cursor: pointer;
  vertical-align: middle;
  padding-top: 0.2%;
}

.combination > .container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.combination > .container > p {
  margin: 0.2% 2%;
  font-size: 1.3em;
}

.combination > .container > .teams {
  display: flex;
  flex-direction: column;
}
